#aboutPage{
    padding-bottom: 100px;
    padding-top: 10px;
     width: 80%;
    margin: 0 auto;
    .breadcrumb{
        background-color: transparent;
    }
    h1{
        font-size: 30px;
        line-height: 38px;
        color: #111;
    }
    .aboutContent{
       
        padding: 50px 0px;
    }
}